### Step 1: Create a new notebook for this task. Be sure to import the relevant libraries, along with your ords_prods_merge dataframe, which should include your newly derived columns from the previous Exercise.

In [4]:
#Import the pandas, NumPy, and os libraries.
import pandas as pd
import numpy as np
import os

In [5]:
#Creating a path
path = r'C:\Users\canam\Achievement 4\Instacart Basket Analysis'

In [6]:
#importing ords_prods_merge dataframe
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_derived.pkl'))

In [7]:
#checking output to make sure derived columns from last exercise are there 
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average Orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,0,20,0,both,Mid-range product,Busiest day,Busiest days,Average Orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,1,10,0,both,Mid-range product,Regularly busy,Slowest days,Most Orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,0,11,1,both,Mid-range product,Least busy,Slowest days,Average Orders

### Step 2. In this Exercise, you learned how to find the aggregated mean of the “order_number” column grouped by “department_id” for a subset of your dataframe. Now, repeat this process for the entire dataframe

In [9]:
#finding the aggregated mean of the “order_number” column grouped by “department_id” for the entire dataframe
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

### Step 3: Analyze the result. How do the results for the entire dataframe differ from those of the subset? Include your comments in a markdown cell below the executed code.

These means differ slightly from the means of the subset.  Some means have increased while some have decreased.

### Step 4: Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [13]:
#First we must create a 'max_order' column
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\canam\AppData\Local\Temp\ipykernel_688\1887419245.py:2: FutureWarning: The provided callable <function max at 0x000001E4AE6C0860> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [14]:
#checking to see whether 'max_order" columnn has been added 
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,0,20,0,both,Mid-range product,Busiest day,Busiest days,Average Orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,1,10,0,both,Mid-range product,Regularly busy,Slowest days,Most Orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,0,11,1,both,Mid-range product,Least busy,Slowest days,Average Orders,3

In [15]:
#creating a flag that assigns a “loyalty” label to a user ID based on its corresponding max order value.
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [16]:
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [17]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [18]:
#Checking to see if loyalty flag colummn has been added 
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,0,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,0,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,0,20,0,both,Mid-range product,Busiest day,Busiest days,Average Orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,1,10,0,both,Mid-range product,Regularly busy,Slowest days,Most Orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,0,11,1,both,Mid-range product,Least busy,Slowest days,Average Orders,3,New customer

In [19]:
#checking the frequency of values in the loyalty column
df_ords_prods_merge['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

### Step 5. The marketing team at Instacart wants to know whether there’s a difference between the spending habits of the three types of customers you identified. Use the loyalty flag you created and check the basic statistics of the product prices for each loyalty category (Loyal Customer, Regular Customer, and New Customer). What you’re trying to determine is whether the prices of products purchased by loyal customers differ from those purchased by regular or new customers.

In [21]:
#performing multiple aggregations using groupby & agg
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'std', 'median']})

                    prices
                      mean  min   max       std median
loyalty_flag
Loyal customer    7.773577  1.0  25.0  4.205881    7.4
New customer      7.801236  1.0  25.0  4.266449    7.4
Regular customer  7.798284  1.0  25.0  4.254537    7.4

There is little difference between the prices of products purchased by loyal customers and the prices of products purchased by regular and new customers.

### Step 6. The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. Create a spending flag for each user based on the average price across all their orders using the following criteria:
### If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
### If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [23]:
#first we must make a new column for average amount spent 
df_ords_prods_merge['average_spent'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\canam\AppData\Local\Temp\ipykernel_688\821118339.py:2: FutureWarning: The provided callable <function mean at 0x000001E4AE6C1260> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods_merge['average_spent'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [24]:
#checking to see if average_spent column has been added
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spent
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,both,Mid-range product,Busiest day,Busiest days,Average Orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,both,Mid-range product,Regularly busy,Slowest days,Most Orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,both,Mid-range product,Least busy,Slowest days,Average Orders,3,New customer,4.972414

In [25]:
#creating a spending flag column
df_ords_prods_merge.loc[df_ords_prods_merge['average_spent'] < 10, 'spending_flag'] = 'Low spender'

In [26]:
df_ords_prods_merge.loc[df_ords_prods_merge['average_spent'] >= 10, 'spending_flag'] = 'High spender'

In [27]:
#checking to see whether spending_flag colummn has been added
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spent,spending_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,0,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer,6.935811,Low spender
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,32,Regular customer,6.935811,Low spender
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,0,both,Mid-range product,Busiest day,Busiest days,Average Orders,5,New customer,7.930208,Low spender
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,0,both,Mid-range product,Regularly busy,Slowest days,Most Orders,3,New customer,4.972414,Low spender
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,1,both,Mid-range product,Least busy,Slowest days,Average Orders,3,New customer,4.972414,Low spender

In [28]:
#checking the frequency of values of the spending flag column
df_ords_prods_merge['spending_flag'].value_counts(dropna=False)

spending_flag
Low spender     32285150
High spender      119709
Name: count, dtype: int64

### Step 7 In order to send relevant notifications to users within the app (for instance, asking users if they want to buy the same item again), the Instacart team wants you to determine frequent versus non-frequent customers. Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column. The criteria for the flag should be as follows:
### If the median of “days_since_prior_order” is higher than 20, then the customer should be labeled a “Non-frequent customer."
### If the median is higher than 10 and lower than or equal to 20, then the customer should be labeled a “Regular customer ”
### If the median is lower than or equal to 10, then the customer should be labeled a “Frequent customer.”

In [30]:
#first we must create a new column for median_days_since_last_order
df_ords_prods_merge['median_days_since_last_order'] = df_ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

C:\Users\canam\AppData\Local\Temp\ipykernel_688\2906121546.py:2: FutureWarning: The provided callable <function median at 0x000001E4AE867740> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods_merge['median_days_since_last_order'] = df_ords_prods_merge.groupby(['user_id'])['days_since_last_order'].transform(np.median)

In [31]:
#checking to see if median_days_since_last_order column has been added
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spent,spending_flag,median_days_since_last_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,both,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer,6.935811,Low spender,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,both,Mid-range product,Regularly busy,Regularly busy,Average Orders,32,Regular customer,6.935811,Low spender,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,both,Mid-range product,Busiest day,Busiest days,Average Orders,5,New customer,7.930208,Low spender,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,both,Mid-range product,Regularly busy,Slowest days,Most Orders,3,New customer,4.972414,Low spender,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,both,Mid-range product,Least busy,Slowest days,Average Orders,3,New customer,4.972414,Low spender,9.0

In [32]:
#creating frequency flag column
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_last_order'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [33]:
df_ords_prods_merge.loc[(df_ords_prods_merge['median_days_since_last_order'] <= 20) & (df_ords_prods_merge['median_days_since_last_order'] > 10), 'frequency_flag'] = 'Regular customer'

In [35]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_last_order'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [36]:
#checking to see if frequency flag column has been added
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spent,spending_flag,median_days_since_last_order,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Mid-range product,Regularly busy,Regularly busy,Most Orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Mid-range product,Regularly busy,Regularly busy,Average Orders,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Mid-range product,Busiest day,Busiest days,Average Orders,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Mid-range product,Regularly busy,Slowest days,Most Orders,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Mid-range product,Least busy,Slowest days,Average Orders,3,New customer,4.972414,Low spender,9.0,Frequent customer

In [37]:
#checking the values for the frequency_flag column
df_ords_prods_merge['frequency_flag'].value_counts(dropna = False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

There are 5 missing values.  These are probably users who only ordered once as 'days_since_last_order' wouldn't apply to them. `

In [40]:
#creating a subset of the missing values
df_nan = df_ords_prods_merge[df_ords_prods_merge['frequency_flag'].isnull()==True]

In [42]:
df_nan

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_spent,spending_flag,median_days_since_last_order,frequency_flag
6234909,10749,Organic Red Bell Pepper,83,4,5.7,895835,159838,1,0,17,...,Mid-range product,Busiest day,Busiest days,Average Orders,1,New customer,7.42,Low spender,NaN,NaN
12947653,21334,Organic Peeled Garlic,123,4,10.2,895835,159838,1,0,17,...,Mid-range product,Busiest day,Busiest days,Average Orders,1,New customer,7.42,Low spender,NaN,NaN
13839012,22198,4X Ultra Concentrated Natural Laundry Detergen...,75,17,1.7,895835,159838,1,0,17,...,Low-range product,Busiest day,Busiest days,Average Orders,1,New customer,7.42,Low spender,NaN,NaN
14758536,23695,California Veggie Burger,42,1,4.7,895835,159838,1,0,17,...,Low-range product,Busiest day,Busiest days,Average Orders,1,New customer,7.42,Low spender,NaN,NaN
21673807,33401,Goat Cheese Crumbles,21,16,14.8,895835,159838,1,0,17,...,Mid-range product,Busiest day,Busiest days,Average Orders,1,New customer,7.42,Low spender,NaN,NaN

In [44]:
#accessing the new columns 
df_ords_prods_merge[['user_id', 'max_order', 'loyalty_flag','average_spent','spending_flag', 'median_days_since_last_order', 'frequency_flag']].head(60)

,user_id,max_order,loyalty_flag,average_spent,spending_flag,median_days_since_last_order,frequency_flag
0,138,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
1,138,32,Regular customer,6.935811,Low spender,8.0,Frequent customer
2,709,5,New customer,7.930208,Low spender,8.0,Frequent customer
3,764,3,New customer,4.972414,Low spender,9.0,Frequent customer
4,764,3,New customer,4.972414,Low spender,9.0,Frequent customer
5,777,26,Regular customer,6.935398,Low spender,11.0,Regular customer
6,825,9,New customer,5.957576,Low spender,20.0,Regular customer
7,910,12,Regular customer,6.680000,Low spender,6.0,Frequent customer
8,1052,20,Regular customer,7.162500,Low spender,10.0,Frequent customer
9,1052,20,Regular customer,7.162500,Low spender,10.0,Frequent customer
10,1379,10,New customer,5.813636,Low spender,20.0,Regular customer
11,1480,43,Loyal customer,5.081633,Low spender,7.0,Frequent customer
12,1480,43,Loyal customer,5.081633,Low spender,7.0,Frequent customer
13,1480,43,Loyal customer,5.081633,Low spender,7.0,Frequent customer
14,1494,13,Regular customer,6.803797,Low spender,7.0,Frequent customer
15,1494,13,Regular customer,6.803797,Low spender,7.0,Frequent customer
16,1494,13,Regular customer,6.803797,Low spender,7.0,Frequent customer
17,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
18,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
19,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
20,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
21,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
22,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
23,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
24,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
25,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
26,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
27,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
28,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
29,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
30,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
31,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
32,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
33,1540,28,Regular customer,6.607122,Low spender,7.0,Frequent customer
34,1598,4,New customer,7.123529,Low spender,2.0,Frequent customer
35,1598,4,New customer,7.123529,Low spender,2.0,Frequent customer
36,1598,4,New customer,7.123529,Low spender,2.0,Frequent customer
37,1647,10,New customer,4.853521,Low spender,25.0,Non-frequent customer
38,1647,10,New customer,4.853521,Low spender,25.0,Non-frequent customer
39,1647,10,New customer,4.853521,Low spender,25.0,Non-frequent customer
40,1647,10,New customer,4.853521,Low spender,25.0,Non-frequent customer
41,1647,10,New customer,4.853521,Low spender,25.0,Non-frequent customer
42,2833,10,New customer,7.377143,Low spender,13.0,Regular customer
43,2850,23,Regular customer,8.054153,Low spender,7.0,Frequent customer
44,2857,25,Regular customer,8.353793,Low spender,11.0,Regular customer
45,3010,13,Regular customer,6.452800,Low spender,7.0,Frequent customer
46,3029,5,New customer,7.960606,Low spender,28.0,Non-frequent customer
47,3395,6,New customer,6.322222,Low spender,18.0,Regular customer
48,3904,3,New customer,7.511111,Low spender,21.0,Non-frequent customer
49,4006,42,Loyal customer,7.441100,Low spender,7.0,Frequent customer
50,4006,42,Loyal customer,7.441100,Low spender,7.0,Frequent customer
51,4006,42,Loyal customer,7.441100,Low spender,7.0,Frequent customer
52,4006,42,Loyal customer,7.441100,Low spender,7.0,Frequent customer
53,4006,42,Loyal customer,7.441100,Low spender,7.0,Frequent customer
54,4122,40,Regular customer,7.598765,Low spender,7.0,Frequent customer
55,4141,9,New customer,6.033333,Low spender,30.0,Non-frequent customer
56,4343,4,New customer,7.393939,Low spender,30.0,Non-frequent customer
57,4553,4,New customer,5.715789,Low spender,30.0,Non-frequent customer
58,4845,14,Regular customer,7.229630,Low spender,20.0,Regular customer
59,6866,6,New customer,4.807143,Low spender,30.0,Non-frequent customer

## Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [46]:
df_ords_prods_merge.shape

(32404859, 25)

In [50]:
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_derived_aggregated.pkl'))